<?xml version="1.0"?>
<config>
    <modules>
        <MercadoPago_OneStepCheckout>
            <version>2.1.5</version>
        </MercadoPago_OneStepCheckout>
    </modules>
    <global>
        <models>
            <mercadopago_onestepcheckout>
                <class>MercadoPago_OneStepCheckout_Model</class>
            </mercadopago_onestepcheckout>
        </models>
        <helpers>
            <mercadopago_onestepcheckout>
                <class>MercadoPago_OneStepCheckout_Helper</class>
            </mercadopago_onestepcheckout>
        </helpers>
        <blocks>
            <mercadopago>
                <rewrite>
                    <custom_form>MercadoPago_OneStepCheckout_Block_Custom_Form</custom_form>
                    <customticket_form>MercadoPago_OneStepCheckout_Block_Customticket_Form</customticket_form>
                </rewrite>
                <mercadopago_onestepcheckout>
                    <class>MercadoPago_OneStepCheckout_Block</class>
                </mercadopago_onestepcheckout>
            </mercadopago>
        </blocks>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_mercadopago_success_index>
                <observers>
                    <mercadopago_onestepcheckout>
                        <type>model</type>
                        <class>mercadopago_onestepcheckout/observer</class>
                        <method>successPredispatch</method>
                    </mercadopago_onestepcheckout>
                </observers>
            </controller_action_predispatch_mercadopago_success_index>
        </events>
    </frontend>

    <default>
        <payment>
            <mercadopago>
                <osc_active>0</osc_active>
            </mercadopago>
        </payment>
    </default>
</config>