/*
 *
 * Checkout
 *
 */

#payment_form_mercadopago_custom{
    margin: 20px;
    padding: 0;
    position: relative;
}

#mercadopago_checkout_custom {
    position: relative;
}

#mercadopago-loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

#mercadopago_checkout_custom ul li{
    overflow: hidden;
    width: 100%;
}

#mercadopago_checkout_custom .card-form {
    border: 1px solid #cccccc;
    overflow: hidden;
    padding: 15px;
}

#mercadopago_checkout_custom .card-form.first-card {
    float: left;
    width: 49.2%;
}

#mercadopago_checkout_custom #second_card_fieldset {
    float: right;
    position: relative;
    width: 49.2%;
}

#mercadopago_checkout_custom ul li label{
    padding: 5px 0;
    font-size: 14px;
    width: 100%;
}

#mercadopago_checkout_custom ul li input,
#mercadopago_checkout_custom ul li select{
    background-color: #FFFFFF;
    height: 25px;
    margin-top: 4px;
}

#mercadopago_checkout_custom ul li select.full-width {
    display: block;
}

#first_card_amount_fields,
#secondCardAmount {
    margin-bottom: 10px;
    white-space: nowrap;
}

#first_card_amount {
    width: 120px;
    display: block;
}

#cardId {
    background-position: 93% 50% !important;
}

.total_buy{
    margin-left: 10px;
}

.total_buy_price{
    font-size: 14px;
    padding-top: 6px;
    display: inline-block;
    color: #900;
}

.second_card_total_buy {
    clear: both;
    margin-left: 10px;
}

.second_card_total_buy span{
    font-size: 14px;
    display: inline-block;
    color: #900;
}

.ch-form-hint{
    color: #999;
    font-size: 12px;
}

#second_card_cardId{
    background-position: 93% 50% !important;
    height: 25px !important;
    background-color: #fff !important;
}

#cardNumber{
    background-position: 98% 50% !important;
    width: 225px;
    background-color: #fff !important;
}
#second_card_cardNumber{
    background-position: 98% 50% !important;
    width: 225px;
    background-color: #fff !important;
}

#second_card_amount{
    border: none;
    color: #900;
    display: inline-block;
    font-size: 14px;
    padding: 0;
    white-space: nowrap;
    width: 90px;
}

#second_card_amount_holder{
    font-size: 14px;
    color: #900;
    display: block;
}

#hide_second_card{
    float:right;
}

#cardholderName, #second_card_cardholderName{
    width: 160px;
}

#securityCode, #securityCodeOCP, #second_card_securityCodeOCP, #second_card_securityCode{
    width: 70px !important;
}
#second_card_securityCodeOCP__mp{
    margin-bottom: 6px;
}

#second_card_payment {
    margin: 0;
}

#cardExpirationMonth, #cardExpirationMonthLabel, #cardExpirationYearLabel, #cardExpirationYear{
    display: inline-block;
}

.expiration-date-box {
    display: inline-block;
    margin-top: -2px;
    vertical-align: top;
    width: 100%;
}

#box_month, #second_card_box_month, #box_year, #second_card_box_year{
    float: left;
    width: 45%;
}

#box_month select, #second_card_box_month select{
    width: 140px;
}

#box_year select, #second_card_box_year select{
    width: 80px;
}

#box_month, #second_card_box_month{
    margin: 0 10px 0 0;
}

#docType, #second_card_docType{
    display: inline-block !important;
}

#mercadopago_checkout_custom_card {
    overflow: hidden;
}

#doc_type__mp, #second_card_doc_type__mp {
    margin-right: 5px;
    padding-bottom: 1px;
    width: auto !important;
}

#doc_number__mp, #second_card_doc_number__mp {
    padding-bottom: 1px;
    width: auto !important;
}

#doc_type__mp, #doc_number__mp, #second_card_doc_type__mp, #second_card_doc_number__mp {
    float: left;
}

#doc_type__mp label, #second_card_doc_type__mp label {
    display: block;
}

#doc_type__mp select, #second_card_doc_type__mp select {
    width: 80px;
}

#doc_number__mp input, #second_card_doc_number__mp input {
    width: 130px;
}

.message-error{
    display: none;
}

#mercadopago_checkout_custom_ticket .form-mercadopago{
    padding-left: 0px;
}

.action_ocp{
    cursor: pointer;
    width: 100%;
}

#mercadopago_checkout_custom .button {
    margin-bottom: 10px;
}

#mercadopago_checkout_custom #hide_second_card {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
}

#show_second_card{
  width: 210px;
}

#use_other_card_mp:hover, #show_second_card:hover, #show_second_card:hover, #second_card_use_other_card_mp:hover {
    text-decoration: none;
}

.second_card_total_buy_price, .total_buy_price {
    padding: 3px 10px;
    font-weight: 600;
    text-decoration: underline;
    vertical-align: middle;
}

.second_card_total_buy label {
    font-weight: bold;
}

#hide_second_card {
    padding: 3px 6px;
    line-height: 1;
}

#hide_second_card:hover {
    text-decoration: none;
}

/*
 *
 * Pagina de sucesso
 *
 */

#mensagem_mp{
    float: left;
}
#mensagem_mp h4{
    font-size: 18px;
}

#mensagem_mp .status{
    font-size: 14px;
}

.voltar{
    text-transform:uppercase;
}

#logo_mp{
    float: left;
    width: 100%;
    margin: 40px 0 0 0;
}

.btn-boleto{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    background-color: #36A1F1;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#36A1F1),color-stop(100%,#0F79C9));
    background-image: -webkit-linear-gradient(#36A1F1,#0F79C9);
    background-image: -moz-linear-gradient(#36A1F1,#0F79C9);
    background-image: -o-linear-gradient(#36A1F1,#0F79C9);
    background-image: linear-gradient(#36A1F1,#0F79C9);
    -webkit-box-shadow: inset 0 1px #97DCFF;
    box-shadow: 0 1px #97DCFF inset;
    color: #FFF!important;
    border: 1px solid #0D6FB9;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 1.25em;
    padding: 6px 12px;
    font-size: 20px;
}

#standard_banner_checkout{
    width: 100%;
    float: left;
}

@media screen and (max-width: 680px) {
    #mercadopago_checkout_custom .card-form.first-card,
    #mercadopago_checkout_custom #second_card_fieldset {
        float: none;
        width: 100%;
    }
}


@media screen and (max-width: 500px) {
    .banner_checkout_mp{
        width: 100%;
        margin: 0 0 5px 0;
    }

    .box-mes {
        width: 100%;
    }

    .box-ano{
        width: 100%;
        margin: 10px 0 0 0;
    }

    .box-mes select{
        width: 50%;
    }
    .box-ano select{
        width: 50%;
    }

    #mercadopago_transparent_doc {
        width: 50%;
    }

    #status{
        margin: 0 0 10px 0;
    }

    iframe#checkout_mercadopago{
        float: left;
        width: 100% !important;
    }

    .form-list.mercadopago{
        float: left;
        min-width: 100%;
        width: 100%;
        margin: 0 15px 0 0px;
    }
}

@media screen and (max-width: 360px) {
    #payment_form_mercadopago_custom {
        margin: 0;
    }
}

.msg-status{
    display: none;
}

.mercadopago-message-coupon{
    margin: 5px 0 -5px 0px;
    float: left;
    width: 92%;
}

.mercadopago-message-coupon li{
    display: none;
}

.mercadopago-coupon-action-apply, .mercadopago-coupon-action-remove{
    cursor: pointer;
    float: left;
    font-size: 10px;
    border: 1px solid #cecece;
    text-transform: uppercase;
    padding: 2px 7px;
    border-radius: 5px;
    background-color: #F0F0F0;
    margin: 5px 0 0 0;
}

.mercadopago-coupon-action-remove{
    display: none;
}

.mercadopago-message-coupon p{
    margin: 0 0 0 0;
}

.mercadopago-focus{
    color: #004098;
    font-family: arial;
    font-weight: bold;
}

.discount-ok{
    padding: 10px;
    border: 1px solid #cecece;
    background-color: #F0F0F0;
    float: left;
}

.communication {
    padding: 10px;
    border: 1px solid #cecece;
    background-color: #F0F0F0;
    float: left;
    width: 63%;
}

.error-installment-not-work{
    cursor: pointer;
}

.mercadopago-info-discount li{
    display: block !important;
    float: left;
    width: 100%;
    margin: 0  !important;
}

.mercadopago-discount-options {
    display: inline-block;
}
.mercadopago-ticket-label {
    vertical-align: top;
}
.optionsTicketMp {
    float: left;
    margin-right: 10px;
}

.banner_checkout_mp {
    max-width:100%;
    max-height:100%;
}

.show_second_card {
    display: none;
}

.show_second_card_button {
    display: none !important;
}

.legal-info {
    margin-top: 10px;
}

.tea-info,
.cft-info {
    color: #A0A0A0;
    margin: 0 !important;
    padding: 0 5px;
}

.cft-info {
    font-size: 35px;
    line-height: 1;
}

.onstepcheckout-mercadopago #doc_number__mp {
    margin-top: 31px;
}

.onstepcheckout-mercadopago #installments__mp {
    padding-bottom: 1px;
}

.onstepcheckout-mercadopago #payment_form_mercadopago_custom > li {
    margin: 0;
}

#mercadopago_calculator_link {
    display: block;
    margin: 5px 0 15px;
}

#mercadopago_calculator_link a,
#mercadopago_calculator_link p,
#mercadopago_calculator_link img {
    display: inline-block;
    vertical-align: middle;
}

.sp-methods dd .container-form-list{
    padding: 0;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
}

.container-form-list #mercadopago_checkout_custom_ticket .form-mercadopago{
    margin: 20px;
}

.mercadopago-ticket-options .mercadopago-ticket-option{
    padding: 10px 1px;
}

.mercadopago-ticket-label img{
    margin-right: 10px;
}
