#meli-logo
{
    padding-left: 85px;
    background: url(images/logo.png) no-repeat 0 0px;
    height: 21px;
}
#meen-logo
{
    padding-left: 85px;
    background: url(images/mercadoenvios.png) no-repeat 0 0px;
    height: 47px;
}
.meli-cards
{
    padding-left: 100px;
    background: url(images/cards.jpg) no-repeat 0 0px;
    height: 60px;
    width: 468px;
}
.meli
{
    min-width: 100%;
    box-sizing: border-box;
}
.meli-legend {
    margin-top: 18px;
}
.meli-btn {
    margin-top: 13%;
}
.config-heading.meli .heading
{
    margin-top: 18px;
}

fieldset[id^="payment_mercadopago"] table
{
    width: 100% !important;
}
fieldset[id^="carriers_mercadoenvios"] table
{
    width: 100% !important;
}