<?xml version="1.0"?>
<config>
    <modules>
        <MercadoPago_MercadoEnvios>
            <version>0.1.0</version>
        </MercadoPago_MercadoEnvios>
    </modules>
    <global>
        <models>
            <mercadopago_mercadoenvios>
                <class>MercadoPago_MercadoEnvios_Model</class>
            </mercadopago_mercadoenvios>
        </models>
        <sales>
            <shipping>
                <carriers>
                    <mercadopago_mercadoenvios>
                        <class>MercadoPago_MercadoEnvios_Model_Shipping_Carrier_MercadoEnvios</class>
                    </mercadopago_mercadoenvios>
                </carriers>
            </shipping>
        </sales>
        <blocks>
            <mercadopago_mercadoenvios>
                <class>MercadoPago_MercadoEnvios_Block</class>
            </mercadopago_mercadoenvios>
        </blocks>
        <helpers>
            <mercadopago_mercadoenvios>
                <class>MercadoPago_MercadoEnvios_Helper</class>
            </mercadopago_mercadoenvios>
        </helpers>
        <events>
            <payment_method_is_active>
                <observers>
                    <paymentfilter_payment_method_is_active>
                        <type>singleton</type>
                        <class>MercadoPago_MercadoEnvios_Model_Observer</class>
                        <method>filterActivePaymentMethods</method>
                    </paymentfilter_payment_method_is_active>
                </observers>
            </payment_method_is_active>
            <admin_system_config_changed_section_payment>
                <observers>
                    <payment_section_observer>
                        <class>MercadoPago_MercadoEnvios_Model_Observer</class>
                        <method>checkAndValidateData</method>
                    </payment_section_observer>
                </observers>
            </admin_system_config_changed_section_payment>
        </events>
    </global>
    <default>
        <carriers>
            <mercadoenvios>
                <active>1</active>
                <title>MercadoEnvíos</title>
                <model>MercadoPago_MercadoEnvios_Model_Shipping_Carrier_MercadoEnvios</model>
                <sort_order>10</sort_order>
                <sallowspecific>1</sallowspecific>
                <name>MercadoEnvios</name>
                <specificerrmsg>This shipping method is currently unavailable.</specificerrmsg>
            </mercadoenvios>
        </carriers>
    </default>
</config>