<?xml version="1.0" ?>
<!--
/**
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL).
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
*
* @category   	Payment Gateway
* @package    	MercadoPago
* @author      	Gabriel Matsuoka (gabriel.matsuoka@gmail.com)
* @copyright  	Copyright (c) MercadoPago [http://www.mercadopago.com]
* @license    	http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <modules>
        <MercadoPago_Transparent>
            <version>2.0.0</version>
        </MercadoPago_Transparent>
    </modules>

    <global>
        <models>
            <mercadopago_transparent>
                <class>MercadoPago_Transparent_Model</class>
            </mercadopago_transparent>
        </models>
        <blocks>
            <mercadopago_transparent>
                <class>MercadoPago_Transparent_Block</class>
            </mercadopago_transparent>
        </blocks>
        <helpers>
            <mercadopago_transparent>
                <class>MercadoPago_Transparent_Helper</class>
            </mercadopago_transparent>
        </helpers>
    </global>


    <frontend>
        <routers>
            <mercadopago_transparent>
                <use>standard</use>
                <args>
                    <module>MercadoPago_Transparent</module>
                    <frontName>mercadopago_transparent</frontName>
                </args>
            </mercadopago_transparent>
        </routers>

        <translate>
            <modules>
                <mercadopago>
                    <files>
                        <default>mercadopago.csv</default>
                    </files>
                </mercadopago>
            </modules>
        </translate>
    </frontend>


    <default>
        <payment>
            <mercadopago_transparent>
                <active>1</active>
                <model>MercadoPago_Transparent_Model_Transparent</model>
                <!-- nome do modulo na exibição para o comprador -->
                <title>Cartões de Credito - MercadoPago</title>
                <allowspecific>0</allowspecific>
                <order_status_approved>processing</order_status_approved>
                <order_status_refunded>pending</order_status_refunded>
                <order_status_in_process>pending</order_status_in_process>
                <order_status_in_mediation>pending</order_status_in_mediation>
                <order_status_rejected>pending</order_status_rejected>
                <order_status_cancelled>pending</order_status_cancelled>
                <banner_checkout>http://imgmp.mlstatic.com/org-img/MLB/MP/BANNERS/tipo2_468X60.jpg</banner_checkout>
                <sort_order>-2</sort_order>
            </mercadopago_transparent>
        </payment>
    </default>

</config>
