<?xml version="1.0"?>
<config>
    <modules>
        <MercadoPago_MercadoEnvios>
            <version>2.14.0</version>
        </MercadoPago_MercadoEnvios>
    </modules>
    <frontend>
        <events>
            <controller_action_predispatch_shipping_tracking_popup>
                <observers>
                    <mercadopago_mercadoenvios>
                        <type>model</type>
                        <class>mercadopago_mercadoenvios/observer</class>
                        <method>trackingPopup</method>
                    </mercadopago_mercadoenvios>
                </observers>
            </controller_action_predispatch_shipping_tracking_popup>
            <mercadopago_standard_make_preference_before>
                <observers>
                    <mercadopago_mercadoenvios>
                        <type>model</type>
                        <class>mercadopago_mercadoenvios/observer</class>
                        <method>setShippingParams</method>
                    </mercadopago_mercadoenvios>
                </observers>
            </mercadopago_standard_make_preference_before>
            <mercadopago_standard_notification_received>
                <observers>
                    <mercadopago_mercadoenvios>
                        <type>singleton</type>
                        <class>mercadopago_mercadoenvios/observer</class>
                        <method>createShipment</method>
                    </mercadopago_mercadoenvios>
                </observers>
            </mercadopago_standard_notification_received>
            <mercadopago_standard_notification_before_set_status>
                <observers>
                    <mercadopago_mercadoenvios>
                        <type>model</type>
                        <class>mercadopago_mercadoenvios/observer</class>
                        <method>setOrderShipmentData</method>
                    </mercadopago_mercadoenvios>
                </observers>
            </mercadopago_standard_notification_before_set_status>
        </events>
    </frontend>
    <global>
        <models>
            <mercadopago_mercadoenvios>
                <class>MercadoPago_MercadoEnvios_Model</class>
            </mercadopago_mercadoenvios>
        </models>
        <sales>
            <shipping>
                <carriers>
                    <mercadopago_mercadoenvios>
                        <class>MercadoPago_MercadoEnvios_Model_Shipping_Carrier_MercadoEnvios</class>
                    </mercadopago_mercadoenvios>
                </carriers>
            </shipping>
        </sales>
        <blocks>
            <mercadopago_mercadoenvios>
                <class>MercadoPago_MercadoEnvios_Block</class>
            </mercadopago_mercadoenvios>
        </blocks>
        <helpers>
            <mercadopago_mercadoenvios>
                <class>MercadoPago_MercadoEnvios_Helper</class>
            </mercadopago_mercadoenvios>
        </helpers>
        <events>
            <payment_method_is_active>
                <observers>
                    <paymentfilter_payment_method_is_active>
                        <type>singleton</type>
                        <class>mercadopago_mercadoenvios/observer</class>
                        <method>filterActivePaymentMethods</method>
                    </paymentfilter_payment_method_is_active>
                </observers>
            </payment_method_is_active>
            <admin_system_config_changed_section_payment>
                <observers>
                    <payment_section_observer>
                        <class>mercadopago_mercadoenvios/observer</class>
                        <method>checkAndValidateData</method>
                    </payment_section_observer>
                    <payment_section_observer_shipping_method>
                        <class>mercadopago_mercadoenvios/observer</class>
                        <method>validateShippingMethod</method>
                    </payment_section_observer_shipping_method>
                </observers>
            </admin_system_config_changed_section_payment>
            <admin_system_config_changed_section_carriers>
                <observers>
                    <payment_section_observer_shipping_method>
                        <class>mercadopago_mercadoenvios/observer</class>
                        <method>validateShippingMethod</method>
                    </payment_section_observer_shipping_method>
                </observers>
            </admin_system_config_changed_section_carriers>
        </events>

    </global>

    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <mercadopago_mercadoenvios>
                        <type>singleton</type>
                        <class>mercadopago_mercadoenvios/observer</class>
                        <method>addPrintButton</method>
                    </mercadopago_mercadoenvios>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>

    <default>
        <carriers>
            <mercadoenvios>
                <active>1</active>
                <title>MercadoEnvíos</title>
                <model>MercadoPago_MercadoEnvios_Model_Shipping_Carrier_MercadoEnvios</model>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <name>MercadoEnvios</name>
                <specificerrmsg>This shipping method is currently unavailable.</specificerrmsg>
            </mercadoenvios>
        </carriers>
    </default>
</config>
