<?xml version="1.0"?>
<config>
    <modules>
        <MercadoPago_OneStepCheckout>
            <version>0.1.0</version>
        </MercadoPago_OneStepCheckout>
    </modules>
    <global>
        <helpers>
            <mercadopago_onestepcheckout>
                <class>MercadoPago_OneStepCheckout_Helper</class>
            </mercadopago_onestepcheckout>
        </helpers>
        <blocks>
            <mercadopago>
                <rewrite>
                    <custom_form>MercadoPago_OneStepCheckout_Block_Custom_Form</custom_form>
                    <customticket_form>MercadoPago_Core_Block_Customticket_Form</customticket_form>
                </rewrite>
                <mercadopago_onestepcheckout>
                    <class>MercadoPago_OneStepCheckout_Block</class>
                </mercadopago_onestepcheckout>
            </mercadopago>
        </blocks>
    </global>
    <default>
        <payment>
            <mercadopago>
                <osc_active>1</osc_active>
            </mercadopago>
        </payment>
    </default>
</config>