<?xml version="1.0"?>
<config>
    
    <modules>
        <Mpexpress>
            <version>0.1.5</version>
        </Mpexpress>
    </modules>
    
    
    
    
   
    <global>
        
        
        <models>
            <mpexpress>
                <class>Mpexpress_Model</class>
                <resourceModel>mpexpress_mysql4</resourceModel>
            </mpexpress>
            <mpexpress_mysql4>
                <class>Mpexpress_Model_Mysql4</class>
                <entities>
                        <mpcart>
                            <table>mpexpress_cart</table>
                        </mpcart>
                </entities>
            </mpexpress_mysql4>  
        </models>



        <resources>
               <mpexpress_setup>
                    <setup>
                        <module>Mpexpress</module>
                         <class>Mpexpress_Model_Mysql4_Setup</class>
                    </setup>
                     <connection>
                        <use>core_setup</use>
                    </connection>
                </mpexpress_setup>           
        </resources>  
        
   
        
       
    
        
        <helpers>
            <mpexpress>
                <class>Mpexpress_Helper</class>
            </mpexpress>
        </helpers>
    
    

        <blocks>
            <mpexpress>
                <class>Mpexpress_Block</class>
            </mpexpress>
        </blocks>
        
        
        
    </global>
    
    
    
     <default>
         <payment>
             <mpexpress>
                  <active>1</active>
                  <model>Mpexpress_Model_Express</model>
                  <title>MercadoPago Express</title>
                  <ask_postalcode>1</ask_postalcode>
                  <change_postalcode>0</change_postalcode>
                  <url_success>http://[mystore.com]/index.php/checkout/onepage/success/</url_success>
                  <url_process>http://[mystore.com]/index.php/checkout/onepage/success/</url_process>
                  <order_status_new>pending</order_status_new>
                  <order_status_approved>processing</order_status_approved>
                  <order_status_refunded>pending</order_status_refunded>
                  <order_status_in_process>pending</order_status_in_process>
                  <order_status_in_mediation>pending</order_status_in_mediation>
                  <order_status_rejected>pending</order_status_rejected>
                  <order_status_cancelled>pending</order_status_cancelled>
                  <order_status_cancelled>0</order_status_cancelled>
                  <installments></installments>
                  <checkout_mode>iframe</checkout_mode>
                  <auto_create_inovice>1</auto_create_inovice>
                  <express_button_checkout>1</express_button_checkout>
                  <express_button_checkout_sidebar>1</express_button_checkout_sidebar>
                  <express_button_product>1</express_button_product>      
                  <allowspecific>0</allowspecific>
            </mpexpress>
        </payment>
    </default>
    
    
    
    
    
    
    
    
    
    
     <frontend>
                
             <routers>
                <mpexpress>
                    <use>standard</use>
                    <args>
                        <module>Mpexpress</module>
                        <frontName>mpexpress</frontName>
                    </args>
                </mpexpress>
            </routers> 
        
        
            <layout>

                <updates>
                    <mpexpress>
                        <file>mpexpress.xml</file>
                    </mpexpress>
                </updates>

            </layout>
            
            <translate>
            <modules>
                <mercadopago>
                    <files>
                        <default>mercadopago.csv</default>
                    </files>
                </mercadopago>
            </modules>
            </translate>
            
          
    </frontend>
    
    <adminhtml>
        <translate>
            <modules>
                <mercadopago>
                    <files>
                        <default>mercadopago.csv</default>
                    </files>
                </mercadopago>
            </modules>
        </translate>
    </adminhtml>
    

</config>
