<?xml version="1.0" ?>
<!--
/**
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL).
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
*
* @category       Payment Gateway
* @package        MercadoPago
* @author          Gabriel Matsuoka (gabriel.matsuoka@gmail.com)
* @copyright      Copyright (c) MercadoPago [http://www.mercadopago.com]
* @license        http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->

<config>
    <sections>
        <payment translate="label">
            <groups>
                <mercadopago type="group">
                    <label>Mercado Pago - Global Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <country translate="label">
                            <label>Country</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mercadopago/source_country</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </country>
                        <category_id translate="label">
                            <label>Category of your store</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mercadopago/source_categoryId</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </category_id>
                        <order_status_approved translate="label">
                            <label>Choose the status of approved orders</label>
                            <comment>To manage the status available go to System > Order Statuses</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>mercadopago/source_order_status</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order_status_approved>
                        <order_status_refunded translate="label">
                            <label>Choose the status of refunded orders</label>
                            <comment>To manage the status available go to System > Order Statuses</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>mercadopago/source_order_status</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order_status_refunded>
                        <order_status_in_process translate="label">
                            <label>Choose the status when payment is pending</label>
                            <comment>To manage the status available go to System > Order Statuses</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>mercadopago/source_order_status</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order_status_in_process>
                        <order_status_in_mediation translate="label">
                            <label>Choose the status when client open a mediation</label>
                            <comment>To manage the status available go to System > Order Statuses</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>mercadopago/source_order_status</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order_status_in_mediation>
                        <order_status_rejected translate="label">
                            <label>Choose the status when payment was reject</label>
                            <comment>To manage the status available go to System > Order Statuses</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>mercadopago/source_order_status</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order_status_rejected>
                        <order_status_cancelled translate="label">
                            <label>Choose the status when payment was canceled</label>
                            <comment>To manage the status available go to System > Order Statuses</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>mercadopago/source_order_status</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order_status_cancelled>
                        <order_status_chargeback translate="label">
                            <label>Choose the status when payment was chargeback</label>
                            <comment>To manage the status available go to System > Order Statuses</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>mercadopago/source_order_status</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order_status_chargeback>
                        <logs translate="label">
                            <label>Logs</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Enable logs to analise plugin activity</comment>
                        </logs>
                        <debug_mode translate="label">
                            <label>Debug Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Enable to display actual error messages to frontend users (not recommended on production environment)</comment>
                        </debug_mode>
                    </fields>
                </mercadopago>

                <mercadopago_custom_checkout translate="label" module="mercadopago">
                    <label>Mercado Pago - Custom Checkout</label>
                    <sort_order>110</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <public_key translate="label">
                            <label>Public Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </public_key>
                        <access_token translate="label">
                            <label>Access Token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[
                                <span>Click to get your Access Token for: </span>
                                <a href="https://www.mercadopago.com/mla/account/credentials" target="_blank">Argentina</a>
                                <a href="https://www.mercadopago.com/mlb/account/credentials" target="_blank">Brazil</a><br>
                                <a href="https://www.mercadopago.com/mco/account/credentials" target="_blank">Colombia</a>
                                <a href="https://www.mercadopago.com/mlm/account/credentials" target="_blank">Mexico</a>
                                <a href="https://www.mercadopago.com/mlv/account/credentials" target="_blank">Venezuela</a>
                                <a href="https://www.mercadopago.com/mlc/account/credentials" target="_blank">Chile</a>
                                ]]>
                            </comment>
                        </access_token>
                        <mercadopago_custom type="group" translate="label">
                            <label>Checkout Custom - Credit Card</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>mercadopago/adminhtml_system_config_fieldset_payment</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>20</sort_order>
                            <fields>
                                <active translate="label">
                                    <label>Enabled</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>10</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </active>
                                <title translate="label">
                                    <label>Payment Title</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>20</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </title>
                                <statement_descriptor translate="label">
                                    <label>Statement Descriptor</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>40</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>Check availability for your country</comment>
                                </statement_descriptor>
                                <binary_mode translate="label">
                                    <label>Binary Mode</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>50</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </binary_mode>
                                <banner_checkout translate="label">
                                    <label>Banner Checkout</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>60</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </banner_checkout>
                                <sort_order translate="label">
                                    <label>Checkout Position</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>70</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <frontend_class>validate-number</frontend_class>
                                </sort_order>
                                <coupon_mercadopago translate="label">
                                    <label>Marketing - Coupon Mercado Pago</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>80</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </coupon_mercadopago>

                            </fields>
                        </mercadopago_custom>
                        <mercadopago_customticket type="group" translate="label">
                            <label>Checkout Custom - Ticket</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>mercadopago/adminhtml_system_config_fieldset_payment</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>30</sort_order>
                            <fields>
                                <active translate="label">
                                    <label>Enabled</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>10</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>For the operation of the Checkout Custom Ticket is necessary to configure the Credentials 'CLIENT_ID' and 'CLIENT_SECRET' in 'Mercado Pago - Configuration'</comment>
                                </active>
                                <title translate="label">
                                    <label>Payment Title</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>20</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </title>
                                <banner_checkout translate="label">
                                    <label>Banner Checkout</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>30</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </banner_checkout>
                                <sort_order translate="label">
                                    <label>Checkout Position</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>40</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <frontend_class>validate-number</frontend_class>
                                </sort_order>
                                <coupon_mercadopago translate="label">
                                    <label>Marketing - Coupon Mercado Pago</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>50</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </coupon_mercadopago>

                            </fields>
                        </mercadopago_customticket>
                    </fields>
                </mercadopago_custom_checkout>

                <mercadopago_standard_checkout translate="label" module="mercadopago">
                    <label>Mercado Pago - Classic Checkout</label>
                    <sort_order>130</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <mercadopago_standard type="group" translate="label">
                            <label>Checkout Classic</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>mercadopago/adminhtml_system_config_fieldset_payment</frontend_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>20</sort_order>
                            <fields>
                                <active translate="label">
                                    <label>Enabled</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>10</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>For the operation of the Checkout Standard is necessary to configure the Credentials 'CLIENT_ID' and 'CLIENT_SECRET' in 'Mercado Pago - Configuration'</comment>
                                </active>
                                <client_id translate="label">
                                    <label>Client Id</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>15</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </client_id>
                                <client_secret translate="label">
                                    <label>Client Secret</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>17</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </client_secret>
                                <title translate="label">
                                    <label>Payment Title</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>20</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </title>
                                <banner_checkout translate="label">
                                    <label>Banner Checkout</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>30</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </banner_checkout>
                                <sort_order translate="label">
                                    <label>Checkout Position</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>40</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <frontend_class>validate-number</frontend_class>
                                </sort_order>
                                <type_checkout>
                                    <label>Type Checkout</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>mercadopago/source_typeCheckout</source_model>
                                    <sort_order>50</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </type_checkout>
                                <auto_return translate="label">
                                    <label>Auto Redirect</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>60</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>Auto-redirect the buyer when finishing the payment.</comment>
                                </auto_return>
                                <excluded_payment_methods translate="label">
                                    <label>Exclude Payment Methods</label>
                                    <comment>Select payment methods not accepted</comment>
                                    <frontend_type>multiselect</frontend_type>
                                    <source_model>mercadopago/source_paymentMethods</source_model>
                                    <sort_order>70</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <can_be_empty>1</can_be_empty>
                                </excluded_payment_methods>
                                <installments>
                                    <label>Maximum number of accepted installments</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>mercadopago/source_installments</source_model>
                                    <sort_order>90</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                </installments>
                                <iframe_width translate="label">
                                    <label>Width Checkout Iframe</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>100</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <frontend_class>validate-number</frontend_class>
                                </iframe_width>
                                <iframe_height translate="label">
                                    <label>Height Checkout Iframe</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>110</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <frontend_class>validate-number</frontend_class>
                                </iframe_height>
                                <sandbox_mode translate="label">
                                    <label>Sandbox Mode</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>160</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>Enable to test checkout with real credit cards. For further information check this link: <![CDATA[<a href="https://www.mercadopago.com.ar/developers/en/solutions/payments/basic-checkout/test/basic-sandbox/" target="_blank">Basic Checkout Sandbox</a>]]></comment>
                                </sandbox_mode>
                            </fields>
                        </mercadopago_standard>
                    </fields>
                </mercadopago_standard_checkout>
            </groups>
        </payment>
    </sections>
</config>