<?xml version="1.0" ?>
<!--
/**
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL).
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
*
* @category   	Payment Gateway
* @package    	MercadoPago
* @author      	Gabriel Matsuoka (gabriel.matsuoka@gmail.com)
* @copyright  	Copyright (c) MercadoPago [http://www.mercadopago.com]
* @license    	http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>
    <modules>
        <MercadoPago_TransparentTicket>
            <version>2.0.0</version>
        </MercadoPago_TransparentTicket>
    </modules>

    <global>
        <models>
            <mercadopago_transparentticket>
                <class>MercadoPago_TransparentTicket_Model</class>
            </mercadopago_transparentticket>
        </models>
        <blocks>
            <mercadopago_transparentticket>
                <class>MercadoPago_TransparentTicket_Block</class>
            </mercadopago_transparentticket>
        </blocks>
        <helpers>
            <mercadopago_transparentticket>
                <class>MercadoPago_TransparentTicket_Helper</class>
            </mercadopago_transparentticket>
        </helpers>
    </global>


    <frontend>
        <routers>
            <mercadopago_transparentticket>
                <use>standard</use>
                <args>
                    <module>MercadoPago_TransparentTicket</module>
                    <frontName>mercadopago_transparentticket</frontName>
                </args>
            </mercadopago_transparentticket>
        </routers>
        
        <layout>
            <updates>
                <mpexpress>
                    <file>mercadopago.xml</file>
                </mpexpress>
            </updates>
        </layout>
        
        <translate>
            <modules>
                <mercadopago>
                    <files>
                        <default>mercadopago.csv</default>
                    </files>
                </mercadopago>
            </modules>
        </translate>
    </frontend>


    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>mercadopago.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </adminhtml>


    <default>
        <payment translate="label">
            <mercadopago_transparentticket>
                <active>1</active>
                <model>MercadoPago_TransparentTicket_Model_Transparent</model>
                <!-- nome do modulo na exibição para o comprador -->
                <title translate="label">Ticket - MercadoPago</title>
                <allowspecific>0</allowspecific>
                <banner_checkout>http://imgmp.mlstatic.com/org-img/MLB/MP/BANNERS/2014/230x60.png</banner_checkout>
                <sort_order>-1</sort_order>
                <payment_action>authorize</payment_action>
            </mercadopago_transparentticket>
        </payment>
    </default>

</config>
